<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="Arizona Admissions Launcher"
          Manufacturer="UArizona"
          Version="!(bind.packageVersion.ENRLInstallerMsi)"
          UpgradeCode="C645CD7B-2F33-4846-AF2C-0588FE23B456"
          IconSourceFile="..\ENRLLauncher\Assets\app.ico">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          Theme="hyperlinkSidebarLicense"
          LogoSideFile="Resources\sidebar.png"
          LogoFile="Resources\logo.png"
          LicenseUrl="" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage Id="ENRLInstallerMsi" SourceFile="$(var.ENRLLauncher.Installer.TargetPath)" />
    </Chain>
  </Bundle>
</Wix>
